.navbar {
  background-color: #f8f9fa; /* Cor de fundo suave */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra discreta */
}

.navbar-brand img {
    max-height: 40px; /* Tamanho padrão para desktops */
    width: auto; /* Mantém a proporção da imagem */
    display: block; /* Garanta que a imagem fique visível */
    @media (max-width: 576px) {
        &.logo-mobile {
            max-height: 30px; /* Ajusta o tamanho da logo para o tamanho do botão */
            width: auto;
            display: inline-block;
            margin-right: 10px;
        }
    }
  }

  .footer-custom {
    background-color: #f8f9fa; /* Cor de fundo suave */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .footer-custom .text-muted {
    font-size: 0.875rem; /* Redução da fonte do texto do footer */
  }
  
  .custom-image-index {
    width: 100%; /* Faz com que a imagem ocupe toda a largura da coluna */
    height: 100%; /* Faz com que a imagem ocupe toda a altura da coluna */
    object-fit: cover; /* Faz com que a imagem cubra o contêiner sem distorção */
    margin: 0; /* Remove qualquer margem que possa causar espaço em branco */
    display: block; /* Garante que a imagem seja exibida como bloco */
}