.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.navbar-brand img {
    max-height: 40px;
    width: auto;
    display: inline-block;
    margin-right: 10px
}

.custom-image-index {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    display: block
}
/* Adiciona espaço no final da página para o footer não cobrir o conteúdo */
body {
    padding-bottom: 60px; /* Deve ser igual ou maior que a altura do footer */
}

/* Footer fixo na parte inferior da tela */
.footer {
    background-color: #f8f9fa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px; /* Definir altura fixa */
}
